
.content {
    width: 100%;
}

.bubbles {
    width: 70%;
    height: 100%;
    float: left;
}

.words {
    width: 30%;
    height: 100%;
    float: left;
}

.words .list {
    width: 100%;
    height: 15%;
    float: top;
    font-size: small;
}

.words .list .word-and-count {
    float: left;
}

.words .list .word-and-count .word {
    float: left;

}

.words .list .word-and-count .count {
    float: left;
    color: darkmagenta;
}

.words .tweets {
    width: 100%;
    height: 80%;
    float: top;
    font-size: x-small;
    overflow: hidden;
}

.tweets .tweet .from-user {
    color: blueviolet;
}
